h1 {
    margin: auto;
    width: 350px;
    text-align: center;
    color: white;
    background-color: purple;
    font-family: "Vrinda";
    outline: 5px black solid;
    outline-offset: 2px;
    border-radius: 1px;
    margin-bottom: 40px;
}



label {
    width: 350px;
    text-align: center;
    color: white;
    background-color: rgb(9, 9, 238);
    font-family: "Vrinda";
}

.redBG {
    background-color: red;
    width: 450px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.blackB {
    position: relative;
    outline: 3px black solid;
    border-radius: 2px;
}

.orangeT {
    color: orange;
}

#upper {
    color: aqua;
    background-color: black;
}

.test {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 300px;
}

.upper {
    color: rgb(200, 235, 6);
    background-color: rgb(43, 7, 202);
}