#text{
    background-color: aqua;
    text-align: center;
}
#time{
    background-color: greenyellow;
    color: blue;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
}
video{
    margin: 20px;
    max-width: 100vw;
    max-height: 70vh;
}